@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";  

* {
    margin: 0;
    padding: 0;
}

img {
    position: relative;
    left: 70%;
    margin-top: -90px;
    width: 200px;
    height: 200px;
    box-shadow: 0px 5px 5px gray;
}

.root {
    position: absolute;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 5px 5px  gray;
    width: 800px;
    height: 700px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgb(255,255,240);
}

.Personal-Details{
    margin: 20px 0 0 20px;
}

p {
    margin-bottom: 3px;
    font-size: 20px;
    font-family: Itim, sans-serif;
}

.Details {
    margin: 100px 0 0 20px;
}

span {
    color: blue;
}